<!-- index.html -->
{% extends 'base.html' %}
{% block title %}达明测试博客{% endblock %}
{% block headmessage %}
    <h3 style='font-family:微软雅黑;font-size:10pt;'>本文章列表</h3>
{% endblock %}

{% block content %}
    {% for article in articles %}
        <div class='panel panel-default'>
            <div class='panel-heading'>
                 <p style='font-family:微软雅黑;font-size:10pt;font-weight:bold;'>
                    <a href='/article/{{ article.slug }}'>{{ article.title }}</a>
                </p>
            </div>
            <div class='panel-body' style='background-color:#ffffdd'>
                 <p style='font-family:微软雅黑;font-size:10pt;'>
                    {{ article.body }}
                </p>
            </div>
            <div class='footer' style='background-color:#efefef'>
                 <p style='font-family:微软雅黑;font-size:10pt;'>
                   发布时间：{{ article.pub_date | date:"Y M D, h:m:s" }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}